In [123]:
from bs4 import BeautifulSoup
import pandas as pd
import requests


# You can add here website link which are showing you stocks historical data in tabular format. 
url = "https://www.indiainfoline.com/company/yes-bank-ltd-share-price/share-price-historical-data/25267"
# url = 'https://in.investing.com/equities/yes-bank-historical-data?end_date=1686422196&interval_sec=monthly&st_date=1457634600'
html_data = requests.get(url).text

soup = BeautifulSoup(html_data, 'html5lib')

In [120]:
# Now we will be extracting table headers for the dataframe columns

''' If there are multiple tables on the website, you can find all 
    table and iterate through them to find the one you want to 
    extract using a unique keyword around the table.

    *Note: You have to inspect the or check the list of tables 
    one by one and pass the table_index for further extraction ,
    if you're unable to find the exact table using keyword.

    You can visit 'https://beautiful-soup-4.readthedocs.io/en/latest/'
    for more information on fuctions to parse the HTML doc 
'''

unique_keyword = 'Total Turnover'
# unique_keyword = ''
tables = soup.find_all('table')
table_index = 0
for i, table in enumerate(tables):
    if unique_keyword in table:
        table_index = i

# print(tables[table_index])

headers = []

for col in tables[table_index].find('thead').find('tr'):
    headers.append(col.text.strip())
headers = [x for x in headers if x != '']
data_df = pd.DataFrame(columns=headers)
data_df.columns


for row in tables[table_index].find('tbody').find_all('tr'):
    
    col = row.find_all('td')

    new_row = []

    for i in range(len(headers)):
        new_row.append(col[i].text.strip())
    
    data_df = pd.concat([data_df, pd.DataFrame([new_row], columns=headers)], ignore_index=True)

In [122]:
# You can now use the following dataframe for Data analysis

data_df

        Date   Price    Open    High     Low   Volume     Chg%
0   Jun 2023   16.60   16.30   17.15   16.00  114.42M    2.47%
1   May 2023   16.20   15.75   16.50   15.50    1.66B    3.18%
2   Apr 2023   15.70   15.10   17.30   15.05    1.81B    4.32%
3   Mar 2023   15.05   17.55   18.60   14.40    4.06B  -13.75%
4   Feb 2023   17.45   17.30   17.65   16.00    2.46B    1.16%
..       ...     ...     ...     ...     ...      ...      ...
82  Aug 2016  273.22  244.80  276.46  240.71  362.04M   12.26%
83  Jul 2016  243.39  222.53  247.20  221.31  219.94M    9.92%
84  Jun 2016  221.42  206.30  223.00  201.11  314.76M    7.17%
85  May 2016  206.60  189.58  209.20  181.13  438.74M    9.55%
86  Apr 2016  188.59  172.60  190.49  165.30  339.87M    9.01%

[87 rows x 7 columns]